@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
.bcenter {
  width: 1200px;
  margin: 0 auto;
}
header {
  margin-bottom: 30px;
}
header aside {
  height: 30px;
  background-color: #F5F5F5;
  border-bottom: 1px solid #EEEEEE;
  display: flex;
  justify-content: flex-end;
  padding-right: 220px;
  align-items: center;
}
header aside a {
  text-decoration: none;
  color: black;
}
header aside a:hover {
  color: red;
  text-decoration: underline;
}
header aside a:first-child {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #c6b4a8;
}
header aside a:first-child span {
  color: red;
}
header section {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header section div.left {
  display: flex;
  flex-direction: column;
}
header section div.left img {
  border-bottom: 2px solid #209639;
}
header section div.left span {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: #00539B;
  letter-spacing: 13px;
  font-weight: bold;
}
header ul {
  border-bottom: 3px solid #2B73CC;
  margin-top: 15px;
  display: flex;
  list-style: none;
  justify-content: center;
}
header ul li a {
  display: block;
  color: black;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 25px 7px 25px;
}
header ul li a:hover {
  background-color: #2B73CC;
  color: #fff;
}
main {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
main aside {
  background-color: #F5F5F5;
  width: 20%;
  margin-right: 5%;
  border: 1px solid #D2D2D2;
}
main aside h3 {
  padding: 10px 15px;
}
main aside ul {
  list-style: none;
}
main aside ul li {
  line-height: 35px;
}
main aside ul li a {
  display: block;
  width: inherit;
  padding: 10px 20px;
  text-decoration: none;
  color: #444;
  font-size: 16px;
}
main aside ul li a:hover {
  color: #fff;
  background-color: #00539B;
}
main iframe {
  width: 75%;
  height: 307px;
  border: 1px solid #E4E0E0;
}
