<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/static/css/footer.css" rel="stylesheet">
</head>
<body>
<footer>
    <ul>
        <li><a href="#">关于我们</a></li>
        <li><a href="#">招商加盟</a></li>
        <li><a href="#">商家合作</a></li>
        <li><a href="#">投诉与建议</a></li>
        <li><a href="#">提供帮助</a></li>
        <li><a href="#">客户端下载</a></li>
        <li><a href="#">联系我们</a></li>
    </ul>
    <p>Copyright©2018 易排队  All rights reserved</p>
    <img src="/static/images/chengxin.png">
</footer>
</body>
</html>