<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/info.css">
</head>
<body>
<article>
    <h4>基本信息</h4>
    <table>
        <tr>
            <td>头&nbsp;&nbsp;像：<small></small><a href="javascript:;">修改头像</a></td>
        </tr>
        <tr>
            <td>用户名：<small>13452524699</small><a href="javascript:;">修改用户名</a></td>
        </tr>
        <tr>
            <td>手机号：<small>13452524699</small><a href="javascript:;">修改手机号</a></td>
        </tr>
        <tr>
            <td>邮&nbsp;&nbsp;箱：<small></small><a href="javascript:;">立即绑定</a></td>
        </tr>
        <tr>
            <td>信用度：10</td>
        </tr>
    </table>
</article>
</body>
</html>