<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册界面</title>
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
<header>
    <div class="left">
        <a href="{% url 'login' %}"><img src="/static/images/ziti.png"></a>
        <span>帮助你利用时间</span>
    </div>
</header>
<main>
    <form action="/register/" id="form1" method="post">
        {% csrf_token %}
        <b>欢迎注册</b>
        <label class="y">
            真实姓名：<input name="username" type="text"  class="form-control" placeholder="请输入真实姓名" pattern='[\u4e00-\u9fa5]+' required>
            <span></span>
        </label>
        <label class="y">
            登录密码：<input name="password" type="password" class="form-control" placeholder="密码6-12位(只能为字母或者数字) " pattern='([a-zA-Z0-9]{6,12}' required>
            <span></span>
        </label>
        <label class="y">
            确认密码：<input name="repassword" type="password" class="form-control" placeholder="请再次输入密码" pattern='([a-zA-Z0-9]{6,12}' required>
            <span></span>
        </label>
        <label class="y">
            常用电话：<input name="tel" type="text" class="form-control" placeholder="建议输入常用手机号" pattern='1[3|4|5|8][0-9]\d{8}' required>
            <em style="color: red">{{ user_error }}</em>
            <span></span>
        </label>
        <label class="yz">
            验&nbsp;证&nbsp;码：<input name="val" type="text" placeholder="请输入验证码">
             <a  style="display: inline-block;margin-top: -10px" href="{% url 'register' %}"><img src="/static/test.png"></a>
            <em style="color: red">{{ error }}</em>
        </label>
        <label class="agree">
            <input type="checkbox" checked>我已阅读并同意<a href="#">《易排队用户注册协议》</a>
        </label>
        <button type="submit">注册</button> <button type="reset">重置</button>
        <p>已有账号？<a href="{% url 'login' %}">立即登录</a></p>
    </form>
    <aside>
        <h3>注册之后你可以</h3>
        <p>
            <img src="/static/images/人事.png" style="width: 30px;height: 30px;">
            实时提醒，排队再也不用现场苦等
        </p>
        <p>
            <img src="/static/images/手机.png" style="width: 30px;height: 30px;">
            排号不排队，手机了解现场情况
        </p>
        <img src="/static/images/login_img.jpg">
    </aside>
</main>


<script src="/static/js/eventCompatible.js"></script>
<script>

    var aReg=[/^[\u4e00-\u9fa5]+$/,/^[a-zA-Z0-9]{6,12}$/,
        /^[a-zA-Z0-9]{6,12}$/,
        {#/^(?=.*[a-zA-Z])(?=.*[\d])(?=.*[\W_])\S{6,8}$/,#}
        /^1[3|4|5|8][0-9]\d{8}$/
    ];
    var oForm=document.getElementById('form1');
    var aInput=oForm.querySelectorAll('.form-control');
    var aPassword=oForm.querySelectorAll('input[type=password]');
    var aSpan=oForm.querySelectorAll('span');
    for(var i=0;i<aInput.length;i++){
        aInput[i].i=i;
        console.log(i);
    }
    eventCompatible.agentEvent(oForm,'click',['input','form-control'], function () {
       eventCompatible.addEvent(this,'blur',check);
        function check(){
            var i=this.i;
            var oSpan=aSpan[i];
            console.log(this.value);
            if(aReg[i].test(this.value.trim())){
                oSpan.innerHTML='<img src="/static/images/true.png">';
            }
            else{
                console.log(aReg[i].test(this.value.trim()));
                oSpan.innerHTML='<img src="/static/images/false.png">';
            }
            eventCompatible.removeEvent(this,'blur',check);
        }
    });
    eventCompatible.addEvent(oForm,'submit', function (e) {
        eventCompatible.preventDefault(e);
        if(aPassword[0].value == aPassword[1].value){
            document.getElementById('form1').submit();
        }
        else{
            alert('两次输入密码不一致');
            aPassword[0].value='';
            aPassword[1].value='';}
        });
    eventCompatible.addEvent(oForm,'reset', function () {
        [].forEach.call(aSpan, function (el) {
            el.innerHTML='';
        });
    })

</script>
</body>
</html>